@model NHSP.Areas.Payroll.Models.ViewPayrollModel
@{
    ViewData["Title"] = "Payroll";
}
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h1 style="text-align:center">Payroll</h1>
    @if (!string.IsNullOrEmpty((string)ViewData["SessionType"]) && ((string)ViewData["SessionType"]).Contains("PAYROLL") || ((string)ViewData["SessionType"]).Contains("ACCTG"))
    {

    }
    else
    {
        <div>
            <button type="button" class="btn btn-primary w-100" id="selectsite">Assign Site</button>
        </div>
    }
    <div style="overflow-x: auto; max-width: 100%;">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text-center text-uppercase">Site</th>
                    <th class="text-center text-uppercase">File</th>
                    <th class="text-center text-uppercase">Status</th>
                    <th class="text-center text-uppercase">Approve</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.Approvals != null)
                {
                    foreach (var item in ViewBag.Approvals)
                    {
                        <tr>
                            <td class="text-center text-nowrap">@item.SiteName</td>
                            <td class="text-center text-nowrap">
                                <button type="button" class="btn btn-primary py-0" id="preview_@item.FileId" data-filename="@item.FileName">Preview</button>
                            </td>
                            @switch (item.Status)
                            {
                                case 1:
                                    <td class="text-center text-nowrap">Pending (OM)</td>
                                    break;
                                case 2:
                                    <td class="text-center text-nowrap">Pending (SOM)</td>
                                    break;
                                case 3:
                                    <td class="text-center text-nowrap">Accounting</td>
                                    break;
                                case 4:
                                    <td class="text-center text-nowrap">Accounting</td>
                                    break;
                                case 5:
                                    <td class="text-center text-nowrap">Releasing</td>
                                    break;
                                default:
                                    <td class="text-center text-nowrap">N/A</td>
                                    break;
                            }
                            <td class="d-flex justify-content-center">
                                <button type="button" class="btn btn-success py-0" data-bs-toggle="modal" data-bs-target="#approveModal_@item.SiteId">Approve</button>
                                <div class="mx-1"></div>
                                <button type="button" class="btn btn-danger py-0" data-bs-toggle="modal" data-bs-target="#declineModal_@item.SiteId">Decline</button>
                            </td>

                            <div class="modal fade" id="approveModal_@item.SiteId" tabindex="-1" aria-labelledby="approveModalLabel_@item.SiteId" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="approveModalLabel_@item.SiteId">Confirm Approval</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to approve?
                                        </div>
                                        <div class="modal-footer">
                                            <form asp-action="Approve" asp-controller="Payroll" asp-area="Payroll">
                                                <input type="hidden" name="siteId" value="@item.SiteId" />
                                                <button type="submit" class="btn btn-success py-0" data-siteid="@item.SiteId">Confirm</button>
                                                <button type="button" class="btn btn-secondary py-0" data-bs-dismiss="modal">Cancel</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="declineModal_@item.SiteId" tabindex="-1" aria-labelledby="declineModalLabel_@item.SiteId" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="declineModalLabel_@item.SiteId">Confirm Decline</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form asp-action="Decline" asp-controller="Payroll" asp-area="Payroll">
                                            <div class="modal-body">
                                                <input type="hidden" name="siteId" value="@item.SiteId" />
                                                <p>Are you sure you want to decline?</p>
                                                <input name="remarks" class="form-control" placeholder="Enter remarks for declining" />
                                            </div>
                                            <div class="modal-footer">
                                                <input type="hidden" name="siteId" value="@item.SiteId" />
                                                <button type="submit" class="btn btn-danger py-0" data-siteid="@item.SiteId">Decline</button>
                                                <button type="button" class="btn btn-secondary py-0" data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center text-nowrap">if symptoms persists</td>
                        <td class="text-center text-nowrap">consult it koi!?</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="selectsiteModal" tabindex="-1" aria-labelledby="selectsiteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="selectsiteModalBody">
                    <!-- Content will be loaded here dynamically -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="previewModalBody">
                    <!-- Content will be loaded here dynamically -->
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('button[id^="selectsite"]').click(function (event) {
            event.preventDefault();

            $.ajax({
                url: '/Payroll/Payroll/SelectSite',
                type: 'GET',
                success: function (data) {
                    $('#selectsiteModalBody').html(data);
                    var selectsiteModal = new bootstrap.Modal(document.getElementById('selectsiteModal'));
                    selectsiteModal.show();
                },
                error: function () {
                    alert('Failed to load the modal content.');
                }
            });
        });

        $(document).on('shown.bs.modal', '#selectsiteModal', function () {
            $('#siteselect').selectize({
                create: false,
                sortField: 'text'
            });
        });

        $('button[id^="preview_"]').click(function (event) {
            event.preventDefault();
            var filename = $(this).data("filename");

            $.ajax({
                url: "/Payroll/Payroll/PRpreview",
                type: "GET",
                data: { fileName: filename },
                success: function (data) {
                    $("#previewModalBody").html(data);
                    var previewModal = new bootstrap.Modal(document.getElementById("previewModal"));

                    previewModal.show();

                    $('#previewModal').on('shown.bs.modal', function () {
                        $(this).removeAttr('aria-hidden');
                        $(this).find('button, input, a, select, textarea').first().focus();
                        console.log("Modal is fully visible.");
                    });

                    $('#previewModal').on('hidden.bs.modal', function () {
                        $(this).attr('aria-hidden', 'true');
                        console.log("Modal is fully hidden.");
                    });
                },
                error: function () {
                    alert("Failed to load the modal content.");
                }
            });
        });
    });
</script>