@model NHSP.Models.ViewPayrollModel
@{
    ViewBag.Title = "Hires";
}
<div class="container mt-4">
    <h1></h1>
    <h1></h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Site</th>
                    <th>File</th>
                    <th>Approve</th>
                </tr>
            </thead>
            <tbody>
                @if(ViewBag.Approvals != null)
                {
                    foreach (var item in ViewBag.Approvals)
                    {
                        <tr>
                            <td class="text-center text-nowrap">@item.SiteName</td>
                            <td class="text-center text-nowrap">
                                <a href="@Url.Action("Download", "Payroll", new { fileName = @item.FileName })" class="btn btn-link p-0 m-0">Download File</a>
                            </td>
                            <td>
                                <form asp-action="Approve" asp-controller="Payroll">
                                    <input type="hidden" name="siteId" value="@item.SiteId" />
                                    <button type="submit" class="btn btn-link p-0 m-0" data-siteid="@item.SiteId">Approve</button>
                                </form>
                            </td>
                        </tr>
                    } 
                }
                else
                {
                    <tr>
                        <td>if symptoms persists</td>
                        <td>consult it koi!?</td>
                    </tr>
                }
             </tbody>
        </table>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>